*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #312B2B;
}
.nav-bar {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}
.logo img {width: 150px;}
.menu {display: flex;}
.menu li {
    padding-left: 35px;
    position: relative;
}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content:'';
    width: 0%; 
    height: 5px;
    background: #f44336;   
    position: absolute;
    left: 0%;
    bottom: -2px;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 4rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: -590px;
    left: 230px;
}
#check {display: none;}
#button1{
    border: none;
    background-color:#980F0F ;
    padding: 10px 30px;
    margin-top: -8px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 35px;
}
#button1:hover{
    transform: scale(1.1);
    cursor: pointer;
}



#images1{
    width: 900px;
    border-radius: 50px;
}
.coffee_cup{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 20px;
    height: 695px;
    left: 40%; 
    z-index: 1;
}
.welcome{
    background-color: #1F0000;
    max-width: 800px; 
    border-radius: 50px;
    position: absolute;
    margin-top: 100px;
    height:600px;
    width: 700px;
    left: 5%;
}
.text-box{
    text-align: center;
    font-size: 55px;
    color: white;
    margin-top: 47px;
}
.text-box h2{
    font-size: 48px;
    font-weight: normal;
    font-family: 'Itim', cursive;
}
h2{
    font-size: 48px;
    font-weight: normal;
}
#button2{
    margin-left: 40px;
    margin-top: 130px;
    background-color: Black;
    color: white;
    font-size: 40px;
    width: 230px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
}
.coffee_house{
    max-width: 100px;  
}
#images2{
    width:420px;
    height:750px;
    margin-top: 900px;
    margin-left: 5%;
}
.text_box{
    margin-left: 600px;
    text-align: left;
    font-size: 42px;
    color: white;
    font-weight: lighter; 
    margin-top: -725px;
}
p{
    font-size: 29px;
    font-weight: lighter;
}
#button3{
    background-color: Black;
    color: white;
    font-size: 30px;
    width: 300px;
    height: 86px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    margin-top: 50px;
    font-weight: bold;
}
.row{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(0,1fr);
    column-gap: 0px;
    row-gap: 0px;
    width: 60%;
    height: 225px;
    margin-top: 130px;
    margin-left: 600px;
}
#images3{
    position: absolute;
    width: 300px;
    height: 200px; 
}
#images4{
    position: absolute;
    width: 300px;
    height: 200px;
}
#images5{
    position: absolute;
    width: 300px;
    height: 200px;   
}  
hr{
    margin-top: -12px;
    width: 57%;
    border: 3px solid white;
    margin-left: 600px;
}
.essence{
    position: absolute;
    margin: 10px;
    left: 50%;
}
#images6{
    width: 700px;
    height: 467px;
    margin-top: 170px;
}
.nepali_text{
    position: absolute;
    color: white;
    margin-left: 100px;
    margin-top: 200px;
    width: 33%;
}
#button4{
    background-color: Black;
    color: white;
    font-size: 30px;
    width: 217px;
    height: 86px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 3px;
    border-color: white;
    margin-top: 50px;
    filter: drop-shadow(26px 29px 4px  rgba(0,0,0,0.25));
}



#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 700px;
    background-image:url(../pictures/footer.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}
.social {
    text-align: center;
    padding: 25px;
    color: rgb(255, 255, 255);
}
.social a {
    font-size: 60px;
    color: inherit;
    width: 65px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
}
.social a:hover {
    transform: scale(1.2);
}
.social a:hover i.fa-facebook {
    color:blue; 
}
.social a:hover i.fa-instagram {
    color: #e1306c; 
}
.social a:hover i.fa-twitter {
    color: #00acee; 
}





@media(max-width: 1758px){
    #images1{
        max-width: 850px;
    }
    .coffee_cup{
        left: 41%;
    }
    .welcome{
        height:570px;
        width: 700px;
        left: 4%;
    }
    #button2{
        margin-top: 110px;
    }
    #images2{
        margin-left:4%;
    }
    hr{
        width: 58%;
    }
}

@media(max-width: 1637px){
    #images1{
        max-width: 800px;
    }
    .coffee_cup{
        left: 41%;
        margin-top: 60px;
    }
    .welcome{
        height:533px;
        width: 650px;
        left: 4%;
        margin-top: 60px;
    }
    #button2{
        margin-top: 80px;
    }
    #images2{
        margin-top: 750px;
    }
    .text_box h1{
        font-size: 77px;
    }
    .text_box{
        margin-left: 550px; 
    }
    .row{
        margin-left: 550px;
    }
    hr{
        margin-left: 550px;
        width: 62%;
    }
    .row{
        width: 65%;
    }
}

@media(max-width: 1637px){
    #images1{
        max-width: 750px;
    }
    .welcome{
        height:520px;
        width: 615px;
    }
    #button2{
        margin-top: 30px;
    }
}

@media(max-width: 1502px){
    #images1{
        max-width: 750px;
    }
    .coffee_cup{
        left: 41%;
        margin-top: 50px;
    }
    .welcome{
        height:490px;
        width: 600px;
        left: 4%;
        margin-top: 60px;
    }
    .text-box h1{
        font-size: 90px;
    }
    .text-box h2{
        font-size: 40px;
    }
    #images2{
        margin-top: 700px;
        width:400px;
        height:700px;
    }
    .text_box{
        margin-left: 550px;
        margin-top: -700px;
        
    }
    .text_box h1{
        font-size: 66px;
        width: 100%;
    }
    hr{
        margin-left: 550px;
        width: 59%;
    }
    .row{
        width: 60%;
        margin-top: 130px;
    } 
    #images3,#images4,#images5 {
        width: 270px;
        height: 190px; 
    }
    #images6{
        width: 700px;
        height: 467px;
        margin-top: 140px;
        margin-left: -50px;
    }
    .nepali_text{
        width: 37%;
        margin-left: 50px;
    }
    #contact{
        margin-top:700px ;
        background-size: cover;
        background-position: center;
        height: 400px;
        font-size: 35px;
    }
}

@media(max-width: 1497px){
    #images1{
        max-width: 670px;
    }
    .welcome{
        height:435px;
        width: 550px;
        left: 3%;
        margin-top: 60px;
    }
    #button2{
        margin-top: 30px;
    }
}

@media(max-width: 1365px){
    #images1{
        max-width: 650px;
    }
    .coffee_cup{
        left: 40%;
        margin-top: 50px;
    }
    .welcome{
        height:423px;
        width: 550px;
        left: 3%;
        margin-top: 60px;
    }
    #button2{
        margin-top: 60px;
        font-size: 35px;
        width: 200px;
        height: 65px;
    }
    #images2{
        margin-top: 600px;
        width:400px;
        height:670px;
    }
    .text_box{
        margin-left: 500px;
        margin-top: -670px;
    }
    .text_box h1{
        font-size: 60px;
    }
    .text_box p{
        font-size: 25px;
    }
    .row{
        margin-left: 500px;
        margin-top: 170px;
    } 
    #images3,#images4,#images5 {
        width: 250px;
        height: 170px; 
    }
    hr{
        margin-left: 500px;
        width: 58%;
        margin-top: -40px;  
    }
    #images6{
        width: 650px;
        height: 457px;
        margin-top: 140px;
        margin-left: -80px;
    }
    .nepali_text{
        width: 37%;
        margin-left: 50px;

    }
    .nepali_text h2{
        font-size: 42px;
    }
}

@media(max-width: 1257px){
    #images1{
        max-width: 600px;
    }
    .coffee_cup{
        left: 40%;
        margin-top: 50px;
    }
    .welcome{
        height:390px;
        width: 500px;
        left: 3%;
        margin-top: 60px;
    }
    #button2{
        margin-top: 30px;
        font-size: 30px;
        width: 170px;
        height: 60px;
    }
    #images2{
        margin-top: 550px;
        width:350px;
        height:630px;
    }
    .text_box{
        margin-left: 450px;
        margin-top: -630px;
    }
    .text_box h1{
        font-size: 55px;
    }
    .text_box p{
        font-size: 25px;
    }
    #button3{
        font-size: 25px;
        width: 250px;
        height: 70px;
    }
    .row{
        margin-left: 450px;
        margin-top: 165px;
        height: 190px;
    } 
    #images3,#images4,#images5 {
        width: 230px;
        height: 150px; 
    }
    hr{
        margin-left: 450px;
        width: 59%;
        margin-top: -23px;  
    }
    #images6{
        width: 600px;
        height: 437px;
        margin-top: 120px;
        margin-left: -80px;
    }
    .nepali_text{
        width: 37%;
    }
    .nepali_text h2{
        font-size: 40px;
    }
    #contact{
        margin-top:700px ;
        background-size: cover;
        background-position: center;
        height: 350px;
        font-size: 35px;
    }
}

@media(max-width: 1178px){
    #images1{
        max-width: 550px;
    }
    .coffee_cup{
        left: 40%;
        margin-top: 50px;
    }
    .welcome{
        height:357px;
        width: 500px;
        left: 3%;
        margin-top: 60px;
    }
    #button2{
        margin-top: 30px;
        font-size: 30px;
        width: 170px;
        height: 60px;
    }
    .text-box h1{
        font-size: 80px;
    }
    .text-box h2{
        font-size: 35px;
    }
    .text_box h1{
        font-size: 50px;
    }
    .text_box p{
        font-size: 23px;
    }
    .row{
        margin-left: 450px;
        margin-top: 180px;
        height: 170px;
        width: 58%;
    } 
    #images3,#images4,#images5 {
        width: 200px;
        height: 130px; 
    }
    hr{
        margin-left: 450px;
        width: 56%;
        margin-top: -23px;  
    }
    #images6{
        width: 570px;
        height: 427px;
        margin-top: 120px;
        margin-left: -80px;
    }
    .nepali_text{
        width: 37%;
    }
    .nepali_text h2{
        font-size: 37px;
    }
    #button4{
        font-size: 30px;
        width: 210px;
        height: 80px;
        margin-top: 50px;
    }
}

@media(max-width: 1088px){
    #images1{
        max-width: 500px;
    }
    .coffee_cup{
        left: 40%;
        margin-top: 40px;
    }
    .welcome{
        height:333px;
        width: 450px;
        left: 3%;
        margin-top: 40px;
    }
    .text-box h1{
        font-size: 70px;
    }
    .text-box h2{
        font-size: 30px;
    }
    #images2{
        margin-top: 500px;
        width:300px;
        height:600px;
    }
    .text_box{
        margin-left: 400px;
        margin-top: -600px;
    }
    .text_box h1{
        font-size: 48px;
    }
    .row{
        margin-left: 400px;
        margin-top: 190px;
        width: 60%;
    } 
    #images3,#images4,#images5 {
        width: 180px;
        height: 130px; 
    }
    hr{
        margin-left: 400px;
        width: 58%;
        margin-top: -35px;  
    }
    #images6{
        width: 500px;
        height: 400px;
        margin-top: 100px;
        margin-left: -80px;
    }
    .nepali_text{
        width: 35%;
    }
    .nepali_text h2{
        font-size: 30px;
    }
    #button4{
        font-size: 27px;
        width: 200px;
        height: 75px;
        margin-top: 40px;
    }
    #contact{
        margin-top:600px ;
        background-size: cover;
        background-position: center;
        height: 300px;
        font-size: 30px;
    }
    .social a{
        width: 55px;
        height: 50px;
    }
}

@media(max-width: 1000px){
    #images1{
        max-width: 450px;
    }
    .coffee_cup{
        left: 40%;
        margin-top: 40px;
    }
    .welcome{
        height:300px;
        width: 400px;
        left: 3%;
        margin-top: 40px;
    }
    .text-box h1{
        font-size: 60px;
    }
    .text-box h2{
        font-size: 25px;
    }
    #button2{
        margin-top: 30px;
        font-size: 27px;
        width: 150px;
        height: 50px;
    }
    #images2{
        margin-top: 400px;
        width:270px;
        height:550px;
    }
    .text_box{
        margin-left: 350px;
        margin-top: -540px;
    }
    .text_box h1{
        font-size: 45px;
    }
    .text_box p{
        font-size: 23px;
    }
    #button3{
        font-size: 25px;
        width: 250px;
        height: 70px;
        margin-top: 40px;
    }
    .row{
        margin-left: 350px;
        margin-top: 150px;
        width: 60%;
    } 
    #images3,#images4,#images5 {
        width: 170px;
        height: 120px; 
    }
    hr{
        margin-left: 350px;
        width: 58%;
        margin-top: -35px;  
    }
    #images6{
        width: 470px;
        height: 370px;
        margin-top: 90px;
        margin-left: -100px;
    }
    .nepali_text{
        width: 35%;
        margin-left: 4%;
    }
    .nepali_text h2{
        font-size: 27px;
    }
    #button4{
        font-size: 27px;
        width: 200px;
        height: 75px;
        margin-top: 40px;
    }
}

@media(max-width: 918px){
    .coffee_cup{
        left: 38%;
        margin-top: 40px;
    }
    .text_box h1{
        font-size: 43px;
    }
    .text_box p{
        font-size: 20px;
    }
    .row{
        margin-top: 160px;
    } 
    #images6{
        width: 450px;
        height: 350px;
        margin-top: 90px;
        margin-left: -100px;
    }
}

@media(max-width: 888px){
    #images1{
        max-width: 400px;
    }
    .coffee_cup{
        left: 36%;
        margin-top: 40px;
    }
    .welcome{
        height:267px;
        width: 350px;
        left: 3%;
        margin-top: 40px;
    }
    #button2{
        margin-top: 10px;
        font-size: 25px;
        width: 130px;
        height: 50px;
    }
    #images2{
        margin-top: 370px;
        width:250px;
        height:500px;
    }
    .text_box{
        margin-left: 320px;
        margin-top: -480px;
    }
    .text_box h1{
        font-size: 38px;
    }
    #button3{
        font-size: 24px;
        width: 220px;
        height: 60px;
        margin-top: 40px;
    }
    .row{
        margin-left: 320px;
        margin-top: 140px;
        width: 60%;
        height: 140px;
    } 
    #images3,#images4,#images5 {
        width: 150px;
        height: 100px; 
    }
    hr{
        margin-left: 320px;
        margin-top: -30px;  
    }
    #images6{
        width: 450px;
        height: 350px;
        margin-top: 80px;
        margin-left: -100px;
    }
    .nepali_text h2{
        font-size: 25px;
    }
}

@media(max-width: 800px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #312B2B;
        transition: all 0.2s ease-in-out;
    }
    .nav-bar{
        background-color: #A19D9D;
        width: 100%;
    }
    #button1{
        margin-top: 40px;
    }
    .logo img {width: 100px;}
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}

    #images1{
        max-width: 500px;
        border-radius: 50px;
    }
    .coffee_cup{
        left: 20%; 
        margin-left: 0%;
    }
    .welcome{
        max-width: 400px; 
        border-radius: 50px;
        margin-top: 400px;
        height:335px;
        width: 500px;
        left: 25%;
    }
    .text-box h1{
        font-size: 65px;
    }
    .text-box h2{
        font-size: 27px;
    }
    #button2{
        margin-top: 30px;
        font-size: 26px;
        width: 140px;
        height: 60px;
        margin-left: 30px;
    }
    #images2{
        margin-top: 790px;
        width:230px;
        height:430px;
    }
    .text_box{
        margin-left: 300px;
        margin-top: -410px;
    }
    .text_box h1{
        font-size: 38px;
    }
    .row{
        margin-left: 5%;
        margin-top: 250px;
        width: 95%;
        height: 160px;
    } 
    #images3,#images4,#images5 {
        width: 200px;
        height: 150px; 
    }
    hr{
        margin-left: 5%;
        margin-top: 0px;  
        width: 93%;
    }
    #images6{
        width: 700px;
        height: 500px;
        margin-top: 10px;
        margin-left: 25px;
    }
    .essence{
        left: 0%;
    }
    .nepali_text{
        width: 80%;
        margin-left: 10%;
        margin-top: 530px;
        left: 0%;
    }
    .nepali_text h2{
        font-size: 45px;
    }
    #button4{
        font-size: 30px;
        width: 200px;
        height: 75px;
        margin-top: 20px;
        margin-left: 30%;
    }
    #contact{
        background-size: cover;
        background-position: center;
        height: 230px;
        font-size: 25px;
        margin-top: 800px;
    }
    .social a{
        margin-top: -40px;
        font-size: 45px;
        width: 40px;
        height: 10px;
    }
    .social {
        padding: 22px;
    }
}

@media(max-width: 769px){
    .text_box h1{
        font-size: 35px;
    }
    .text_box p{
        font-size: 20px;
    }
    #images6{
        width: 600px;
        height: 450px;
        margin-top: 10px;
        margin-left: 60px;
    }
    .nepali_text{
        width: 80%;
        margin-left: 10%;
        margin-top: 490px;
        left: 0%;
    }
    .nepali_text h2{
        font-size: 45px;
    }
    #button4{
        font-size: 30px;
        width: 200px;
        height: 75px;
        margin-top: 20px;
        margin-left: 30%;
    }
    #contact{
        background-size: cover;
        background-position: center;
        height: 230px;
        font-size: 25px;
    }
}

@media(max-width: 732px){
    .coffee_cup{
        left: 16%; 
        margin-left: 0%;
    }
    .welcome{
        left: 23%;
    }
    .text_box h1{
        font-size: 30px;
    }
}

@media(max-width: 716px){
    .nepali_text h2{
        font-size: 40px;
    }
    #button4{
        margin-left: 27%;
    }
    #images6{
        margin-left: 40px;
    }
    #contact{
        background-size: cover;
        background-position: center;
        height: 210px;
        font-size: 23px;
        margin-top: 740px;
    }
    .social a{
        width: 40px;
        height: 0px;
        font-size: 40px;
    }
    .social {
        padding: 20px;
    }
}

@media(max-width: 670px){
    .coffee_cup{
        left: 13%; 
        margin-left: 0%;
    }
    .welcome{
        left: 20%;
    }
    #images2{
        margin-top: 790px;
        width:230px;
        height:430px;
    }
    .text_box{
        margin-left: 280px;
        margin-top: -410px;
    }
    #images6{
        margin-left: 20px;
    }
}

@media(max-width: 650px){
    .text_box h1{
        font-size: 28px;
    }
    .row{
        height: 140px;
        margin-top: 240px;
    } 
    #images3,#images4,#images5 {
        width: 180px;
        height: 130px; 
    }
    #images6{
        width: 550px;
        height: 425px;
        margin-left: 30px;
    }
    .nepali_text{
        width: 80%;
        margin-left: 8%;
        margin-top: 470px;
    }
    .nepali_text h2{
        font-size: 39px;
    }
}

@media(max-width: 625px){
    .coffee_cup{
        left: 10%; 
    }
    .welcome{
        left: 16%;
    }
    #images2{
        margin-top: 790px;
        width:200px;
        height:350px;
    }
    .text_box{
        margin-left: 280px;
        margin-top: -340px;
        margin-left: 250px;
    }
    .text_box h1{
        font-size: 26px;
    }
    .row{
        margin-left: 5%;
        margin-top: 150px;
        width: 95%;
        height: 150px;
    }
    .nepali_text h2{
        font-size: 39px;
    }
    .nepali_text{
        width: 85%;
    }
}

@media(max-width: 600px){
    #images6{
        width: 550px;
        height: 425px;
        margin-left: 10px;
    }
    .nepali_text h2{
        font-size: 36px;
    }
}

@media(max-width: 575px){
    .coffee_cup{
        left: 5%; 
    }
    .row{
        margin-left: 4%;
        margin-top: 120px;
        width: 95%;
        height: 120px;
    } 
    .text_box{
        margin-left: 220px;
        margin-top: -300px;
    }
    #images3,#images4,#images5 {
        width: 150px;
        height: 110px; 
    }
    hr{
        margin-left: 4%;
    }
    #images2{
        margin-top: 790px;
        width:180px;
        height:300px;
    }
    #images6{
        width: 500px;
        height: 400px;
        margin-left: 30px;
    }
    #contact{
        background-size: cover;
        background-position: center;
        height: 180px;
        font-size: 20px;
        margin-top: 700px;
    }
    .social a{
        width: 25px;
        height: 0px;
        font-size: 30px;
    }
    .social {
        padding: 14px;
    }
}

@media(max-width: 541px){
    .text_box h1{
        font-size: 25px;
    }
    #images6{
        margin-left: 10px;
    }
    .nepali_text h2{
        font-size: 32px;
    }
    .nepali_text {
        margin-top: 400px;
    }
}

@media(max-width: 527px){
    #images1{
        max-width: 450px;
        border-radius: 50px;
    }
    .coffee_cup{
        left: 8%; 
    }
    .welcome{
        max-width: 350px; 
        border-radius: 50px;
        margin-top: 380px;
        height:300px;
        left: 17%;
    }
    .text-box h1{
        font-size: 55px;
    }
    .text-box h2{
        font-size: 24px;
    }
    #images2{
        margin-top: 740px;
    }
    .text_box h1{
        font-size: 23px;
    }
    .text_box{
        margin-top: -280px;
    }
    .row{
        margin-top: 110px;
    } 
    #images6{
        width: 450px;
        height: 350px;
        margin-left: 30px;
    }
}

@media(max-width: 504px){
    .coffee_cup{
        left: 6%; 
    }
    .text_box h1{
        font-size: 21px;
    }
    .text_box p{
        font-size: 19px;
    }
    #images6{
        margin-left: 20px;
    }
    .nepali_text h2{
        font-size: 30px;
    }
}

@media(max-width: 486px){
    .coffee_cup{
        left: 4%; 
    }
    .welcome{
        left: 14%;
    }
    #images3,#images4,#images5 {
        width: 130px;
        height: 100px; 
    }
    .row{
        height: 110px;
    } 
    #images6{
        margin-left: 10px;
    }
}

@media(max-width: 480px){
    #images1{
        max-width: 400px;
    }
    .coffee_cup{
        left: 8%; 
    }
    .welcome{
        max-width: 350px; 
        border-radius: 50px;
        margin-top: 320px;
        height:300px;
        left: 13%;
    }
    #images2{
        margin-top: 700px;
        width:170px;
        height:270px;
    }
    .text_box{
        margin-top: -260px;
        margin-left: 200px;
    }
    .row{
        margin-top: 100px;
    } 
    #images6{
        width: 400px;
        height: 300px;
        margin-left: 30px;
    }
    .nepali_text {
        margin-top:350px;
    }
    #button4{
        font-size: 30px;
        width: 180px;
        height: 70px;
        margin-top: 20px;
        margin-left: 25%;
    }
}

@media(max-width: 460px){
    #images2{
        margin-top: 700px;
        width:150px;
        height:250px;
    }
    .text_box{
        margin-top: -230px;
        margin-left: 180px;
    }
    .row{
        margin-top: 80px;
    } 
    #images6{
        margin-left: 20px;
    }
    .nepali_text {
       width: 90%;
    }
}

@media(max-width: 440px){
    #images1{
        max-width: 370px;
    }
    .coffee_cup{
        left: 8%; 
    }
    .welcome{
        max-width: 300px; 
        margin-top: 320px;
        height:290px;
        left: 17%;
    }
    #button2{
        margin-top: 20px;
        font-size: 25px;
        width: 130px;
        height: 50px;
    }
    .text_box h1{
        font-size: 19px;
    }
    .text_box p{
        font-size: 17px;
    }
    #images6{
        margin-left: 10px;
    }
}

@media(max-width: 430px){
    #images6{
        width: 350px;
        height: 250px;
        margin-left: 30px;
    }
    .nepali_text {
        margin-top: 280px;
        width: 80%;
        margin-left: 12%;
    }
    .nepali_text h2{
        font-size: 25px;
    }
    #contact{
        background-size: cover;
        background-position: center;
        height: 120px;
        font-size: 15px;
        margin-top: 500px;
    }
    .social a{
        width: 20px;
        height: 0px;
        font-size: 25px;
    }
    .social {
        padding: 10px;
    }
}


@media(max-width: 415px){
    #images1{
        max-width: 350px;
    }
    .coffee_cup{
        left: 7%; 
    }
    .welcome{
        max-width: 280px; 
        margin-top: 310px;
        height:280px;
        left: 17%;
    }
    .text-box h1{
        font-size: 50px;
    }
    #button3{
        font-size: 21px;
        width: 180px;
        height: 60px;
        margin-top: 40px;
    }
    .row{
        margin-top: 80px;
    } 
    #images3,#images4,#images5 {
        width: 110px;
        height: 90px; 
    }
    hr{
        margin-left: 4%;
        margin-top: -15px;  
        width: 93%;
    }
    .text_box h1{
        font-size: 17px;
    }
}

@media(max-width: 400px){
    .text_box p{
        font-size: 15px;
    }
    #images2{
        margin-top: 700px;
        width:130px;
        height:250px;
    }
    .text_box{
        margin-left: 160px;
    }
    #images6{
        margin-left: 20px;
    }
    .nepali_text h2{
        font-size: 24px;
    }
    #button4{
        font-size: 23px;
        width: 150px;
        height: 50px;
        margin-top: 20px;
        margin-left: 25%;
    }
}

@media(max-width: 395px){
    #images6{
        margin-left: 15px;
    }
}

@media(max-width: 380px){
    .coffee_cup{
        left: 4%; 
    }
    .welcome{
        max-width: 280px; 
        margin-top: 310px;
        height:280px;
        left: 15%;
    }
    #images6{
        margin-left: 10px;
    }
}

@media(max-width: 370px){
    #images1{
        max-width: 330px;
    }
    .welcome{
        max-width: 260px; 
        margin-top: 300px;
        height:280px;
        left: 14%;
    }
    .text-box h1{
        font-size: 45px;
    }
    #images2{
        margin-top: 650px;
    }
    #button3{
        margin-top: 30px;
        font-size: 16px;
        width: 150px;
        height: 50px;
    }
    .text_box h1{
        font-size: 16px;
    }
    .row{
        margin-top: 90px;
    }
    #images6{
        width: 300px;
        height: 200px;
        margin-left: 30px;
    }
    .nepali_text h2{
        font-size: 22px;
    }
    .nepali_text {
        margin-top: 230px;
    }
    #contact{
        background-size: cover;
        background-position: center;
        height: 110px;
        font-size: 13px;
        margin-top: 400px;
    }
    .social a{
        width: 16px;
        height: 0px;
        font-size: 22px;
    }
    .social {
        padding: 10px;
    }
}





/* Hamburger size as a screem*/
@media(max-width:565px){
    .logo img {width: 90px;}
}
@media(max-width:525px){
    .logo img {width: 85px;}
}
@media(max-width:378px){
    .logo img {width: 80px;}
}
/*----------------------------------*/
@media(max-width:760px){
    .close-menu {
    left: 200px;
    }
}
@media(max-width:760px){
    .close-menu {
       left: 180px;
    }
}
@media(max-width:616px){
    .close-menu {
        left: 160px;
    }
}
@media(max-width:616px){
    .close-menu {
        left: 140px;
    }
}
@media(max-width:500px){
    .close-menu {
        left: 120px;
    }
}
@media(max-width:436px){
    .close-menu {
        left: 100px;
    }
}
@media(max-width:376px){
    .close-menu {
        left: 80px;
    }
}
/*----------------------------------*/

ul{
    list-style: none;
}